/* Window */
    .root{
        -fx-border-width: 2;
        -fx-border-color: #787878;
    }

/* Loader */
    .loader{
        -fx-progress-color: #F8AD32;
    }

/* Hyperlink */
    .hyperlink{
        -fx-border-width: 0;
    }

/* Button */
    .bt, .bt_big, .bt_little{
        -fx-padding: 2 5 2 5;
        -fx-border-color: #adadad;
        -fx-border-width: 2;
        -fx-background-radius: 0;
        -fx-background-color: #c3c3c3;
        -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
        -fx-font-size: 10pt;
        -fx-text-fill: #414141;
        -fx-background-insets: 0 0 0 0, 0, 1, 2;
    }
    .bt:hover, .bt_big:hover, .bt_little:hover{
        -fx-background-color: #8f8f8f;
        -fx-text-fill: #1d1d1d;
    }
    .bt:pressed, .bt_big:pressed, .bt_little:pressed{
        -fx-background-color: #868686;
        -fx-text-fill: #1d1d1d;
    }
    .bt:disabled, .bt_big:disabled, .bt_little:disabled{
        -fx-opacity: 0.4;
        -fx-background-color: #d3d3d3;
        -fx-text-fill: #6a6a6a;
    }
    .bt_little{
        -fx-padding: 2 5 2 5;
        -fx-font-size: 8pt;
    }
    .bt_big{
        -fx-padding: 5 22 5 22;
        -fx-font-size: 11pt;
        -fx-min-width: 110;
    }

/* Button (Iconify, maximize, close) */
    .iconify, .maximize, .minimize, .close {
        -fx-background-insets: null;
        -fx-background-radius: null;
        -fx-border-radius: null;
        -fx-border-width: 0;
    }
    .maximize {
        -fx-background-image: url('../images/maximize.png');
    }
    .maximize:hover {
        -fx-background-image: url('../images/maximizeHover.png');
    }
    .minimize {
        -fx-background-image: url('../images/minimize.png');
    }
    .minimize:hover {
        -fx-background-image: url('../images/minimizeHover.png');
    }
    .iconify {
        -fx-background-image: url('../images/iconify.png');
    }
    .iconify:hover {
        -fx-background-image: url('../images/iconifyHover.png');
    }
    .close {
        -fx-background-image: url('../images/close.png');
    }
    .close:hover {
        -fx-background-image: url('../images/closeHover.png');
    }

/* Dragbar */
    .dragbar{
        -fx-border-width: 0 0 2px 0;
        -fx-border-color: #e5e5e5;
    }

/* Statusbar */
    .statusbar{
        -fx-border-width: 2px 0 0 0;
        -fx-border-color: #e5e5e5;
    }