.root{
    -fx-background-color:#232323;
}
.bt, .bt_big{
    -fx-background-color: #3c3c3c;
    -fx-border-color: #F8AD32;
    -fx-text-fill: #e5e5e5;
}
.window-title{
    -fx-text-fill: #e5e5e5;
    -fx-font-weight: bold;
}
.label, .check-box, .radio-button{
    -fx-text-fill: #e5e5e5;
}
.dragbar{
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: #787878;
}
.statusbar{
    -fx-border-width: 2px 0 0 0;
    -fx-border-color: #787878;
}
.hyperlink{
    -fx-text-fill: #F8AD32;
}
.hyperlink:pressed{
    -fx-text-fill: #cb8c2f;
}
.text-field{
    -fx-border-width: 2;
    -fx-border-color: #232323;
    -fx-background-radius: 3;
}
.text-field:focused{
    -fx-border-width: 2;
    -fx-border-color: #F8AD32;
    -fx-border-radius: 3;
}

/* Actions Buttons */
    .iconify {
        -fx-background-image: url('../images/iconify_dark.png');
    }
    .iconify:hover {
        -fx-background-image: url('../images/iconifyHover_dark.png');
    }
    .close {
        -fx-background-image: url('../images/close_dark.png');
    }
    .close:hover {
        -fx-background-image: url('../images/closeHover_dark.png');
    }